<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hreflang>
            <general>
                <enable>1</enable>
                <default_language>en-us</default_language>
                <same_website_only>0</same_website_only>
            </general>
        </hreflang>
    </default>
</config>
