<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="freire" translate="label" sortOrder="10">
            <label>Freire</label>
        </tab>
        <section id="hreflang" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO - HrefLang</label>
            <tab>freire</tab>
            <resource>Freire_HrefLang::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="default_language" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default hreflang</label>
                    <comment>Used by x-default if the customers’ location and the language don’t correspond the settings, redirecting to store version set as default</comment>
                    <source_model>Magento\Config\Model\Config\Source\Locale</source_model>
                </field>

                <field id="same_website_only" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same Website Only</label>
                    <comment>Apply hreflang meta tag only to stores from the same website.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
